.button{
    margin-top: 20%;
    margin-left: 45%;
    padding: 15px 32px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    background-color: grey;
}
input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
  /* .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.button{
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: large;
} */